.headder_img{
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 5px;
}
.assciotion{
    margin-top: 30px;
}
.assciotion-title{
    font-size: 60px;
}
.reg_alert{
    color: red;
    margin-top: 40px;
}



.asso_sec{
	position: relative;
	bottom: 100px;

}
.time_left{
    color: white;
    visibility: hidden;
}


.acm{
    height: 170px;
    width: 150px;
    margin-left: 20px;
    margin-top: 50px;
}
.events_intro{
    margin-top: 90px;
    font-size: 30px;
}
.event_intro_text{
    font-size: 25px;
}
.event-cont{
    color: white;
    width: 90%;
    margin: auto;
}
.event_img{
   
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin-left: 50px;
}

.event_name{
    font-size: 50px;
    margin-top: 40px;
   
}


.asso_img{
	height: 300px;
}
.card:hover{
    transform: scale(1.03);
}

.event_details{
    display: flex;
    justify-content:space-evenly;
}
.event_matter_container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.event_card{
display: flex;
gap: 1rem;
flex-wrap: wrap;
width: 80%;
margin: auto;
margin-top: 100px;


}

.span_col{
	color: #ee8425;
}


.bg-gradient,
.bd-text .bd-tag-share .s-share a:hover,
.bh-text .play-btn,
.schedule-table-tab .nav-tabs .nav-item .nav-link.active,
.newslatter-inner .ni-form button,
.latest-item .li-tag,
.price-item .price-btn:hover,
.price-item .pi-price,
.price-item .tr-tag,
.schedule-tab .nav-tabs .nav-item .nav-link.active,
.site-btn {
	background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%), -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
	background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
}

.hero_con{
	height: 90vh;

}

.hero_cap {
	font-size: 20px;
	position: relative;
	bottom: 150px;
	
}

.main_tit{
	font-size: 50px;
	color: white;
}
/* buttons */

.btn-1{
	background-color: #0c0a8e;
	position: relative;
	top:20px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.event_intro{
	margin-top: 100px;
}


.event_pos{
 aspect-ratio: 1.5/1.2;
}
.event_det{
	font-size: 20px;
}

.coord_details{
	margin-top: 20px;
}













@media only screen and (max-width: 900px) {
   .headder_img{
    height: 100px;
   }


.hero_cap {
	font-size: 20px;
	position: relative;
	top:50px
	
}
   .acm{
    height: 600px;
    width: 400px;
   
   
}

.clock{
position: relative;
top:50px;
left: 3px;

}


.event_matter_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.event_info{
    padding-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.event_details{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.time_left{
    color: white;
     visibility: visible;
	position: relative;
    bottom:40px;
	
}

.event_img{
   
    display: none;
}
.card{
    box-shadow: none;
    margin-top: 10px;
}
.custum-btn{
    margin-left: 0px;
 
}
.event_name{
    font-size: 20px;
    margin-top: 10px;
    
   
}
.price-item.top-rated {
    margin-top: 0;
}

.assciotion-title{
	font-size: 30px;
}
.assciotion{
	font-size:15px ;
}

.asso_sec{
    height: 500px;
	top: 170px;

}

.asso_img{
	height: 150px;
	position: relative;
	bottom: 50px;

}
.btn{
	width: 80%;
	font-size: 10px;
}


  }
